<article>
<h5>ngIf</h5>
  <div *ngIf="cursos.length > 0 else SemNada">
    <p>{{cursos[0]}}</p>
  </div>
  <div [hidden]="monstrarCurso">
    <p>{{cursos[1]}}</p>
  </div>
  <button (click)="monstrarCurso=!monstrarCurso">Mostrar Mensagem</button>
</article>

<article>
  <h5>ngSwitch</h5>
  <p>Substituir varios if e else</p>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [class.active]="aba==='home'"
          (click)="aba='home'"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="aba==='mapa'"
          (click)="aba='mapa'">
          Mapa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="aba==='lista'"
          (click)="aba='lista'">
          Lista</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container" [ngSwitch]="aba">
    <p *ngSwitchCase="'mapa'">Modo Mapa Ativado</p>
    <p *ngSwitchCase="'lista'">Modo Lista Ativado</p>
    <p *ngSwitchDefault>Home</p>
  </div>
</article>

<article>
<h5>ngFor</h5>
<table class="table table-style">
  <thead>
    <th scope="col">#</th>
    <th scope="col">Nomes:</th>
    <th scope="col">Idades:</th>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let pessoa of pessoas; index as i">
      <th scope="row">{{i}}</th>
      <td>{{pessoa.nome}}</td>
      <td>{{pessoa.idade}}</td>
    </tr>
  </tbody>
</table>

<ng-template #SemNada>
  <p>Não existem cursos disponiveis para ser exibido.</p>
</ng-template>
</article>

<article>
  <h5>ngClass</h5>
  <i class="bi"
  (click)="meuFavorito=!meuFavorito"
  [ngClass]="{
    'bi-star-fill': meuFavorito,
    'bi-star': !meuFavorito
  }"></i> Click na estrela
</article>

<article>
  <h5>ngStyle</h5>
  <button
  [style.backgroundColor]="ativo ? 'blue' : 'gray'"
  [style.color]="ativo ? 'white' : 'black'"
  [style.fontWeight]="ativo ? 'bold' : 'normal'"
  [style.fontSize]="tamanhoFonte+'px'"
  (click)="ativo=!ativo"
  >Mudar Atributo 'Ativo'</button>
  <br>
  <input type="text" [(ngModel)]="tamanhoFonte">
  <br>
  <button
  [ngStyle]="{
    'backgroundColor': (ativo ? 'blue' : 'gray'),
    'color': (ativo ? 'white' : 'black'),
    'fontWeight': (ativo ? 'bold' : 'normal'),
    'fontSize': (tamanhoFonte+'px')
  }"
  (click)="ativo=!ativo"
  >Mudar Atributo 'Ativo'</button>
  <br>
  </article>

  <article>
    <h5>Elves "?"</h5>
    <p>Usando quando o valor vem null (E como uma verificação se o valor vem nulo não ira dar erro)</p>
    <p>{{Elves.personagem.nome}}</p>
  </article>

  <article>
    <h5>ngContent</h5>
    <div class="card" style="width: auto;">
      <div class="card-body">
        <ng-content select=".Titulo"></ng-content>
        <ng-content select=".Corpo"></ng-content>
      </div>
    </div>
  </article>

  <article>
    <h5>ElementRef e Renderer</h5>
    <p appFundoAmarelo>Fundo Amarelo</p>
  </article>

  <article>
    <h5>HostListener HostBinding</h5>
    <p appHighlightMouse>
      Fundo Amarelo
    </p>
  </article>

  <article>
    <h5>Diretivas: Input e Property Binding</h5>
    <p [defaultColor]="'grey'" [appHighlight]="'red'">
      Fundo com cores customizadas
    </p>
  </article>
